.sliding-tiles-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a9a6a6;
 
}

.game-board {
  width: min(600px, 90vmin);
  height: min(600px, 90vmin);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "A B C D"
    "E F G H"
    "I J K L"
    "M N O P";

  gap: 1px;
  background-color: #494242;
  border-radius: 10px;
  border: 15px solid #000000;
  border-style: inset;
  outline-style: inset;
  outline-width: 20px;
  outline-color: #222;
  box-shadow:
    0 0 5px 25px #222,
    inset 0 0 10px #222;
}

.slot {
  background-color: #494242;
  border: 1px solid #000000;
}

.win-message {
  position: absolute;
  top: 10%;
  font-size: 5rem;
  color: gold;
  text-shadow: 0 0 10px black;
  z-index: 10;
  pointer-events: none;
  animation: popIn 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.game-board.won {
  border-color: gold;
  box-shadow: 0 0 20px gold;
}

@keyframes popIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.sliding-tiles-container.thumbnail {
  height: 100%;
  width: auto;
  scale: 0.35;
}