.tile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: outset 3px solid #000000;
  font-size: 3rem;
  font-weight: bold;
  font-style:oblique;
  text-shadow: 0 0 3px gold;
  color: rgb(203, 154, 31);
  cursor: pointer;
  border-radius: 5px;
  box-shadow:
    inset 0 0 20px 15px #3131311c,
    inset 0 0 5px 5px #3131313e;
}

.even {
  background-color: #ddd9d9;
}

.uneven {
  background-color: #e73333;
}
