.content-panel {
  position: absolute;
  top: 55%;
  left: calc(50% + 9rem);
  transform: translate(-50%, -50%);

  max-width: calc(100% - 20rem);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 0;
  height: 0;
  overflow: hidden;

  box-shadow: 0 0 0 transparent;
  opacity: 0.2;
}

.content-panel > * {
  width: 100%;
  height: 100%;
}

.content-panel.unboxed {
  animation:
    openContentPanel 1s forwards ease-in-out 5s,
    lamp-flicker 1.5s forwards ease-in-out 6s;
}

@keyframes openContentPanel {
  0% {
    width: 6%;
    border: var(--vl-white) solid 1px;
  }
  50% {
    width: 100%;
    border: var(--vl-white) solid 1px;
  }
  80% {
    height: 100%;
    border: var(--vl-white) solid 1px;
  }
  100% {
    height: 80%;
    width: 80%;
    top: 50%;
    border: var(--vl-sidebar-border-color) solid 1px;
    min-width: 260px;
  }
}

@keyframes lamp-flicker {
  0% {
    box-shadow: 0 0 0 transparent;
    opacity: 0.2;
    border-color: rgba(255, 255, 255, 0.2);
  }
  2% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    opacity: 0.8;
    border-color: rgba(255, 255, 255, 1);
  }
  4% {
    box-shadow: 0 0 0 transparent;
    opacity: 0.1;
    border-color: rgba(255, 255, 255, 0.1);
  }
  8% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    opacity: 0.6;
  }
  20% {
    box-shadow: 0 0 0 transparent;
    opacity: 0.1;
  }

  30% {
    box-shadow:
      0 0 30px rgba(255, 255, 255, 0.8),
      0 0 10px rgba(255, 255, 255, 0.5) inset;
    opacity: 1;
    border-color: var(--vl-white);
  }
  32% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    opacity: 0.7;
  }
  35% {
    box-shadow:
      0 0 35px rgba(255, 255, 255, 0.9),
      0 0 20px rgba(255, 255, 255, 0.6) inset;
    opacity: 1;
  }

  40% {
    box-shadow:
      0 0 28px rgba(255, 255, 255, 0.8),
      0 0 15px rgba(255, 255, 255, 0.5) inset;
    opacity: 0.95;
  }
  50% {
    box-shadow: 0 0 32px rgba(255, 255, 255, 0.85);
    opacity: 1;
  }

  100% {
    box-shadow:
      0 0 20px rgba(255, 255, 255, 0.6),
      0 0 10px rgba(255, 255, 255, 0.4) inset;
    opacity: 1;
  }
}
