.app-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 600px;

  display: flex;
  justify-content: start;
  align-items: center;
}

h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  color: var(--vl-white);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
  margin: 0;
  pointer-events: none;
}

h2 {
  position: relative;
  color: var(--vl-text-main);
  pointer-events: none;
}

p {
  position: relative;
  color: var(--vl-text-secondary);
  pointer-events: none;
}

/* Info Panels */

.info-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.panel-container {
  display: flex;
  flex-direction: column;
}

.lab-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.lab-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  aspect-ratio: 12 / 7;

  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;

  margin: auto;

  min-height: 0;
}

.info-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: var(--vl-border-base) solid 1px;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.info-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

/* Main Content Area */

.app-main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 18rem;
  position: relative;
}

.title-panel {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
