@import "./variables.css";

@import "./reset.css";

@import "./typography.css";

@import "./utilities.css";

#root {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.thumbnail {
  pointer-events: none;
}
