.box-icon {
  animation: jump 2.5s ease-in-out infinite;
}

.box-icon-1 {
  position: relative;

  height: 17px;
  overflow: hidden;
}

.box-icon-2 {
  position: relative;

  height: 17px;
  overflow: hidden;
}

.box-icon-2 .lucide {
  transform: translateY(-17px);
}

.title-header-box:hover .box-icon {
  animation: none;
}

@keyframes jump {
  0%,
  20%,
  25%,
  37%,
  47%,
  100% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-10px);
  }
  30% {
    transform: translateY(-14px);
  }
  42% {
    transform: translateY(-6px);
  }
}

/* Box Container & Rows */

.title-header-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  z-index: 100;
}

.title-header-box.unboxed {
  border-bottom: none;
  padding: 0;
  pointer-events: none;
}

.initial-box-row-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}

.initial-box-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 1px;
  border-bottom: var(--vl-border-base) solid 1px;
  transform-origin: bottom right;
  animation: rotateLid 2.5s ease-in-out infinite;
}

.title-header-box:hover .initial-box-row-1 {
  animation: none;
}

.initial-box-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-left: 1px solid var(--vl-border-base);
  border-bottom: 1px solid var(--vl-border-base);
  border-right: 1px solid var(--vl-border-base);
}

.initial-box-spacer {
  width: 40px;
  height: 1px;
}

.animated-box-icon {
  color: var(--vl-white);
}

/* Lid Rotation Anims */

@keyframes rotateLid {
  0%,
  100% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
  30% {
    transform: rotate(45deg);
  }
  45% {
    transform: rotate(0deg);
  }
}

@keyframes openLid {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(250deg);
  }
}

/* Unboxed Logic */

.title-header-box.unboxed .initial-box-row-1 {
  animation:
    openLid 0.6s forwards ease-out,
    fadeOutBorders 0.5s forwards ease-in-out 1.8s;
}
.title-header-box.unboxed .initial-box-row-2 {
  animation: fadeOutBorders 0.5s forwards ease-in-out;
  animation-delay: 1.8s;
}

.title-header-box.unboxed .initial-box-row-container {
  animation: fadeOut 0.5s forwards ease-in-out;
  animation-delay: 1.8s;
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutBorders {
  0% {
    border-color: var(--vl-border-base);
  }
  100% {
    border-color: transparent;
  }
}

/* Flying Animations (Lid separation + Box flight) */

.title-header-box.unboxed .box-icon {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);

  animation:
    jumpOutFly 4s forwards ease-in-out,
    glowPulse 2s infinite ease-in-out 0.5s;
  z-index: 100;
}

@keyframes jumpOutFly {
  0% {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0) rotate(0deg);
  }

  40% {
    left: 50%;
    transform: translate(-50%, -60px) rotate(-10deg);
    animation-timing-function: ease-out;
  }

  45% {
    left: 50%;
    transform: translate(-50%, -60px) rotate(-10deg);
  }

  50% {
    left: calc(50% - 20px);
    transform: translate(-50%, -56px) rotate(-30deg);
  }
  55% {
    left: calc(50% - 40px);
    transform: translate(-50%, -45px) rotate(-70deg);
  }
  60% {
    left: calc(50% - 60px);
    transform: translate(-50%, -26px) rotate(-180deg);
  }

  65% {
    left: calc(50% - 60px);
    transform: translate(-50%, -26px) rotate(-360deg);
  }

  65% {
    left: calc(50% - 80px);
    transform: translate(-50%, 15px) rotate(-360deg);
    animation-timing-function: ease-in-out;
  }
  70% {
    left: calc(50% - 80px);
    transform: translate(-50%, 15px) rotate(-360deg);
  }

  85% {
    transform: translate(-50%, -40px) rotate(-720deg);
  }

  100% {
    left: -7.5rem;
    transform: translate(-60%, -13px) rotate(-1080deg);
  }
}

.title-header-box.unboxed .box-icon .box-icon-1 {
  animation: lid-fly-up 1s forwards ease-in-out;
  animation-delay: 5s;
}

.title-header-box.unboxed .box-icon .box-icon-2 {
  animation: lid-fly-down 1s forwards ease-in-out;
  animation-delay: 5s;
}

@keyframes lid-fly-down {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(50vh);
  }
  75% {
    transform: translateY(calc(50vh - 68px));
  }
  85% {
    transform: translateY(calc(50vh - 5px));
  }
  100% {
    transform: translateY(calc(50vh - 27px));
  }
}

@keyframes lid-fly-up {
  0% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-50vh);
  }
  75% {
    transform: translateY(calc(-50vh + 25px));
  }
  85% {
    transform: translateY(calc(-50vh + 5px));
  }
  100% {
    transform: translateY(calc(-50vh + 29px));
  }
}

@keyframes glowPulse {
  0%,
  100% {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8))
      drop-shadow(0 0 20px rgba(255, 255, 255, 0.4));
  }
  50% {
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 1))
      drop-shadow(0 0 30px rgba(255, 255, 255, 0.8))
      drop-shadow(0 0 60px rgba(255, 255, 255, 0.6));
  }
}
