.noise-canvas-panel {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 3em;
  padding: 3em;
}

.noise-canvas-panel.thumbnail {
  padding: 0.5rem;
  gap: 0.2rem;
  border-width: 1px;
}

.noise-canvas-container {
  flex: 1;
  width: 100%;
  height: 100%;
  min-width: 0;
  position: relative;

  box-sizing: border-box;
}

.noise-canvas {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border: 3px solid var(--vl-white);
  border-radius: 70px;
  margin: 0;
  box-shadow:
    0 0 140px 10px rgba(156, 156, 156, 0.46),
    -15px 80px 10px 2px rgba(26, 26, 26, 0.068),
    15px -40px 10px 2px rgba(26, 26, 26, 0.075);
}

.noise-canvas.thumbnail {
  border-width: 1px;
  border-radius: 20px;
}
